$sb-14PxBoldFontFamily: Inter;
$sb-12PxBoldFontFamily: Inter;
$sb-12PxMediumFontFamily: Inter;
$Lable14PxFontFamily: Inter;
$sb-14PxRegularFontFamily: Inter;
$Icons16PxFontFamily: Material Icons Outlined;
$HeadingH1FontFamily: Inter;
$sb-16PxLightFontFamily: Inter;
$Icons18PxFontFamily: Material Icons Outlined;
$sb-16PxRegularFontFamily: Inter;
$sb-14PxLightFontFamily: Inter;
$Lable16PxFontFamily: Inter;
$HeadingH2FontFamily: Inter;
$HeadingH3FontFamily: Inter;
$HeadingH4FontFamily: Inter;
$HeadingH5FontFamily: Inter;
$HeadingH6FontFamily: Inter;
$Icons22PxFontFamily: Material Icons Outlined;
$Icons20PxFontFamily: Material Icons Outlined;
$Icons28PxFontFamily: Material Icons Outlined;
$Icons24PxFontFamily: Material Icons Outlined;
$sb-14PxBoldFontWeight: 700;
$sb-12PxBoldFontWeight: 700;
$sb-12PxMediumFontWeight: 500;
$Lable14PxFontWeight: 700;
$sb-14PxRegularFontWeight: 400;
$Icons16PxFontWeight: 400;
$HeadingH1FontWeight: 800;
$sb-16PxLightFontWeight: 300;
$Icons18PxFontWeight: 400;
$sb-16PxRegularFontWeight: 400;
$sb-14PxLightFontWeight: 300;
$Lable16PxFontWeight: 700;
$HeadingH2FontWeight: 800;
$HeadingH3FontWeight: 800;
$HeadingH4FontWeight: 800;
$HeadingH5FontWeight: 800;
$HeadingH6FontWeight: 800;
$Icons22PxFontWeight: 400;
$Icons20PxFontWeight: 400;
$Icons28PxFontWeight: 400;
$Icons24PxFontWeight: 400;
$sb-14PxBoldFontSize: 14px;
$sb-12PxBoldFontSize: 12px;
$sb-12PxMediumFontSize: 12px;
$Lable14PxFontSize: 14px;
$sb-14PxRegularFontSize: 14px;
$Icons16PxFontSize: 16px;
$HeadingH1FontSize: 42px;
$sb-16PxLightFontSize: 16px;
$Icons18PxFontSize: 18px;
$sb-16PxRegularFontSize: 16px;
$sb-14PxLightFontSize: 14px;
$Lable16PxFontSize: 16px;
$HeadingH2FontSize: 34px;
$HeadingH3FontSize: 28px;
$HeadingH4FontSize: 24px;
$HeadingH5FontSize: 20px;
$HeadingH6FontSize: 18px;
$Icons22PxFontSize: 22px;
$Icons20PxFontSize: 20px;
$Icons28PxFontSize: 28px;
$Icons24PxFontSize: 24px;
$sb-14PxBoldLineHeight: 21px;
$sb-12PxBoldLineHeight: 18px;
$sb-12PxMediumLineHeight: 18px;
$Lable14PxLineHeight: 21px;
$sb-14PxRegularLineHeight: 21px;
$Icons16PxLineHeight: 16px;
$HeadingH1LineHeight: 50.8px;
$sb-16PxLightLineHeight: 24px;
$Icons18PxLineHeight: 18px;
$sb-16PxRegularLineHeight: 24px;
$sb-14PxLightLineHeight: 21px;
$Lable16PxLineHeight: 24px;
$HeadingH2LineHeight: 41.1px;
$HeadingH3LineHeight: 33.9px;
$HeadingH4LineHeight: 29px;
$HeadingH5LineHeight: 28px;
$HeadingH6LineHeight: 24px;
$Icons22PxLineHeight: 22px;
$Icons20PxLineHeight: 20px;
$Icons28PxLineHeight: 28px;
$Icons24PxLineHeight: 24px;
$sb-000000Primary: #000000;
$sb-0052FfPrimary: #0052ff;
$FfffffPrimary: #ffffff;
$Ebf0F0Primary: #ebf0f0;
$sb-747A80: #747a80;
$FfffffSoft: #ffffff;
$F20089Primary: #f20089;
$Ebf0F0SoftOnLight: #ebf0f0;
$sb-23E33ESoft: #23e33e;
$sb-23E33EPrimary: #23e33e;
$F20089Soft: #f20089;
$F4C952Soft: #ffbd00;
$F4C952Primary: #f4c952;
$sb-0052FfSoft: #0052ff;
$sb-000000Soft: #000000;
$Ebf0F0SoftOnDark: #ebf0f0;
$sb-0052FfHover: #0052ff;
$WithoutFill: #d8d8d8;
$Shadows16Px: 0px 16px 18px rgba(153, 155, 168, 0.18);
$Shadows6Px: 0px -6px 20px rgba(13, 10, 25, 0.08);
$Shadows12Px: 0px 12px 14px rgba(153, 155, 168, 0.18);
$Shadows20Px: 0px 20px 24px rgba(153, 155, 168, 0.18);
$Shadows15Px: 0px -15px 20px rgba(13, 10, 25, 0.06);
$Shadows4Px: 0px 3px 4px rgba(153, 155, 168, 0.25);
$Shadows8Px: 0px 8px 12px rgba(153, 155, 168, 0.25);
$sb-0052FfPrimary: 1px solid rgb(0, 82, 255);
$FfffffPrimary: 1px solid rgb(255, 255, 255);
$Ebf0F0Primary: 4px solid rgb(235, 240, 240);
$F20089Primary: 1px solid rgb(242, 0, 137);
$Cfdbd5OutlineOnLight: 1px solid rgba(207, 219, 213, 0.7);
$sb-23E33EPrimary: 2px solid rgb(35, 227, 62);
$Cfdbd5OutlineOnDark: 1px solid rgba(207, 219, 213, 0.15);
